* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.main-div {
    background: wheat;
    width: 1366px;
    height: 657px;
}

.ludo-div {
    position: absolute;
    width: 55%;
    background: white;
    height: 100%;
    left: 22.5%;
}

#board {
    height: 100%;
    width: 100%;
}

.button {
    width: 30px;
    height: 30px;
    border: 2px solid;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    z-index: 3;
}

.green {
    background: green;
}
.yellow {
    background: yellow;
}
.blue {
    background: blue;
}
.red {
    background-color: darkred;
}

.dice-container {
    position: absolute;
    top: 268px;
    width: 138px;
    height: 121px;
    left: 307px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dice {
    cursor: pointer;
    padding: 28px;
    font-size: 53px;
    z-index: 2;
}

.box-div {
    position: absolute;
    width: 99%;
    height: 100%;
    left: 0.5%;
    top: 0px;
}

.red-start-box {
    position: absolute;
    width: 24px;
    height: 23px;
}


.box {
    width: 24px;
    height: 23px;
}

.red-area{
    position: absolute;
}

.green-start-box{
    width: 24px;
    height: 23px;
    position: absolute;
}
.green-area{
    position: absolute;
}

.yellow-start-box{
    width: 24px;
    height: 23px;
    position: absolute;
}
.yellow-area{
    position: absolute;
}