* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.main-div {
    background: wheat;
    width: 1366px;
    height: 657px;
}

.ludo-div {
    position: absolute;
    width: 55%;
    background: white;
    height: 100%;
    left: 22.5%;
}

#board {
    height: 100%;
    width: 100%;
}

.button {
    width: 30px;
    height: 30px;
    border: 2px solid;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    z-index: 2;
}

.green {
    background: green;
}

.yellow {
    background: yellow;
}

.blue {
    background: blue;
}

.red {
    background-color: darkred;
}

.red-dice {
    position: absolute;
    width: 100px;
    height: 100px;
    background: darkred;
    bottom: 20px;
    left: -121px;
    font-size: 38px;
    text-align: center;
    padding: 16px;
    border-radius: 9px;
    color: white;
    cursor: pointer;
}

.green-dice {
    position: absolute;
    width: 100px;
    height: 100px;
    background: darkgreen;
    bottom: 521px;
    left: -121px;
    font-size: 38px;
    text-align: center;
    padding: 16px;
    border-radius: 9px;
    color: white;
    cursor: pointer;
}

.yellow-dice {
    position: absolute;
    width: 100px;
    height: 100px;
    background: orange;
    bottom: 521px;
    left: 777px;
    font-size: 38px;
    text-align: center;
    padding: 16px;
    border-radius: 9px;
    color: white;
    cursor: pointer;
}

.blue-dice {
    position: absolute;
    width: 100px;
    height: 100px;
    background: blue;
    bottom: 22px;
    left: 777px;
    font-size: 38px;
    text-align: center;
    padding: 16px;
    border-radius: 9px;
    color: white;
    cursor: pointer;
}

.box-div {
    position: absolute;
    width: 99%;
    height: 100%;
    left: 0.5%;
    top: 0px;
}

.box {
    width: 24px;
    height: 23px;
}

.red-area {
    position: absolute;
}

.green-area {
    position: absolute;
}

.yellow-area {
    position: absolute;
}

.blue-area {
    position: absolute;
}

.animateDice {
    animation-name: khel;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.title-box {
    height: 121px;
    width: 138px;
    position: absolute;
    bottom: 268px;
    left: 307px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #00ffcc 0%, #cc6699 100%);
}

.message {
    font-size: 24px;
    font-weight: bold;
    color: ghostwhite;
}

@keyframes khel {
    50% {
        color: transparent;
    }
}
